* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Qatar2022", sans-serif;
}

body {
    background: rgb(181, 181, 181);
    background: linear-gradient(90deg,
            rgba(181, 181, 181, 1) 6%,
            rgba(255, 255, 255, 1) 64%,
            rgba(131, 5, 5, 1) 89%,
            rgba(0, 0, 0, 1) 98%);
    width: 100%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

ul {
    background-color: rgba(255, 255, 255, 0.2);
}

/*contenedor principal flex*/
.container-index {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
}

header {
    margin-top: 1rem;
}

/* menu header, footer*/
.menu {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: center;
}

.menu li {
    margin: 10px;
    padding: 10px;
}

/* ajusta a 700px cada seccion de la home */
section {
    height: 700px;
    display: flex;
}

/* clase para ajustar los background de la home*/
.background-img {
    display: flex;
    background-size: cover;
    background-position-x: center;
    min-width: 100%;
}

/* inicio de bloque para imagenes de fondo */
#qatar {
    background-image: url("../resources/img-qatar1.jpeg");
}

#fixture {
    background-image: url("../resources/img-fixture1.jpg");
    background-position-y: center;
}

#stadiums {
    background-image: url("../resources/img-stadiums1.jpeg");
    background-position-y: center;
}

#teams {
    background-image: url("../resources/img-teams1.jpeg");
}

/* inicio de bloque para imagenes de fondo */

/* card de contenido de la home */
.card {
    border-radius: 15px;
    font-size: 1.5rem;
    padding: 5px;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    align-items: column;
    justify-content: space-between;
    background: rgba(00, 00, 00, 0.5);
    color: rgba(245, 245, 245, 0.811);
}

.card-half {
    margin: 5rem;
    width: 50%;
}

.carf-full {
    text-align: justify;
    width: 100%;
}

/* clase para tirar las cards a la derecha */

.right {
    margin-left: auto;
}

a {
    text-decoration: none;
    text-align: center;
    margin: 50px;
    color: navy;
}

/* estilo a, boton redondo */
a.more-btn span {
    font-size: 3rem;
    font-family: "Courier New", Courier, monospace;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    background-color: brown;
    padding: 0px 12.5px;
}

a.more-btn span:hover {
    border: 1px;
    background-color: rgb(77, 19, 19);
    color: gray;
    transition: all 0.2s ease;
}

/* QATAR */

/* GRID */
.container-qatar {
    margin: 10px;
    width: 95%;
    display: grid;
    gap: 2rem;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
        "header header"
        "grid-title grid-title"
        "aside stats"
        "media1 media1"
        "media2 media2"
        "footer footer";
}

.grid-header {
    grid-area: header;
    height: auto;
    text-align: center;
}

.grid-title {
    grid-area: grid-title;
    height: auto;
}

.aside {
    grid-area: aside;
    height: auto;
}

.stats {
    grid-area: stats;
    height: auto;
}

.media1 {
    grid-area: media1;
    height: auto;
}

.media2 {
    grid-area: media2;
}

.media2 iframe {
    height: 700px;
    width: 100%;
}

footer {
    grid-area: footer;
}

/* QATAR: Estilos table */
#qatar-stats {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

#qatar-stats th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: brown;
    color: white;
}

#qatar-stats td,
#qatar-stats th {
    border: 1px solid #ddd;
    padding: 8px;
}

#qatar-stats tr {
    background-color: white;
}

#qatar-stats tr:nth-child(even) {
    background-color: #f2f2f2;
}

#qatar-stats tr:hover {
    background-color: rgb(245, 201, 201);
}

#customers tr:hover {
    background-color: #ddd;
}

/* ESTADIOS */

.container-stadiums {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 95%;
}

.item-grid {
    margin-bottom: 50px;
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto auto 2fr;
    grid-template-areas:
        "stadium-title stadium-title"
        "stadium-stats stadium-img"
        "stadium-map stadium-img";
}

.stadium-title {
    grid-area: stadium-title;
}

.stadium-stats {
    grid-area: stadium-stats;
}

.stadium-map {
    grid-area: stadium-map;
}

.stadium-map iframe {
    height: 100%;
}

.stadium-img {
    background-color: black;
    grid-area: stadium-img;
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto;
}

.stadium-img img {
    width: 100%;
}

.item-grid iframe {
    height: 100%;
}

/* Home Responsive (flex) */
@media screen and (max-width: 800px) {
    .card {
        flex-grow: 1;
        margin: 1rem;
    }

    .menu {
        flex-flow: column;
        justify-content: center;
    }
}

/* Qatar Responsive (grid)*/
@media screen and (max-width: 800px) {
    .container-qatar {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        grid-template-areas:
            "header"
            "grid-title"
            "stats"
            "aside"
            "media1"
            "media2"
            "footer";
    }

    .media2 iframe {
        height: auto;
        width: 100%;
    }
}

/* Stadiums responsive grid within flex */

@media screen and (max-width: 800px) {
    .item-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
            "stadium-title"
            "stadium-stats"
            "stadium-img";
    }

    .stadium-map {
        display: none;
    }

    .stadium-img {
        width: 100%;
    }
}

/* TEAMS */

.container-teams {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 95%;
}

.team-item {
    margin-bottom: 25vh;
    gap: 2px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat 2fr, 1fr;
    grid-template-areas:
        "team-img team-img team-img team-img"
        "goalkeepers defenders midfielders strikers";
}

.team-item ol {
    list-style: none;
}

.team-img {
    margin: auto;
    grid-area: team-img;
}

.team-img img {
    width: 100%;
}

.goalkeepers {
    margin-left: 20px;
    grid-area: goalkeepers;
}

.defenders {
    margin-left: 20px;
    grid-area: defenders;
}

.midfielders {
    margin-left: 20px;
    grid-area: midfielders;
}

.strikers {
    margin-left: 20px;
    grid-area: strikers;
}

/* Teams responsive grid within flex */
@media screen and (max-width: 800px) {
    .team-item {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 2fr 1fr 1fr;
        grid-template-areas:
            "team-img team-img"
            "goalkeepers defenders"
            "midfielders strikers";
    }

    .container-teams {
        margin: none;
        width: 100%;
    }
}

/* FIXTURE flex */

.container-fixture {
    margin-top: 10px;
    margin-left: 10px;
    width: 95%;
    gap: 20px;
    justify-content: space-evenly;
    display: flex;
    flex-flow: column wrap;
}

.fixture {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.form-section {
    width: 100%;
}

/* grid de la serie de playoff*/
.playoff {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
        "roundof16-1 quarterfinal-a semifinal-1 ."
        "roundof16-2 quarterfinal-a semifinal-1 ."
        "roundof16-3 quarterfinal-b semifinal-1 final"
        "roundof16-4 quarterfinal-b semifinal-1 final"
        "roundof16-5 quarterfinal-c semifinal-2 final"
        "roundof16-6 quarterfinal-c semifinal-2 final"
        "roundof16-7 quarterfinal-d semifinal-2 ."
        "roundof16-8 quarterfinal-d semifinal-2 third-place";

}

.final {
    grid-area: final
}

.roundof16-1 {
    grid-area: roundof16-1
}

.roundof16-2 {
    grid-area: roundof16-2
}

.roundof16-3 {
    grid-area: roundof16-3
}

.roundof16-4 {
    grid-area: roundof16-4
}

.roundof16-5 {
    grid-area: roundof16-5
}

.roundof16-6 {
    grid-area: roundof16-6
}

.roundof16-7 {
    grid-area: roundof16-7
}

.roundof16-8 {
    grid-area: roundof16-8
}

.quarterfinal-a {
    grid-area: quarterfinal-a
}

.quarterfinal-b {
    grid-area: quarterfinal-b
}

.quarterfinal-c {
    grid-area: quarterfinal-c
}

.quarterfinal-d {
    grid-area: quarterfinal-d
}

.semifinal-1 {
    grid-area: semifinal-1;
}

.semifinal-2 {
    grid-area: semifinal-2;
}

.final {
    grid-area: final;
}

.third-place {
    grid-area: third-place;
}

.playoff-table {
    display: none;
}

@media screen and (max-width: 800px) {
    .playoff {
        display: none;
    }

    .playoff-table {
        display: unset;
    }

    .fixture-item {
        font-size: 10px;
    }
}

.container-form {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 95%;
}

.container-form form {
    align-content: center;
    display: flex;
    flex-direction: column;
    margin: 10vh 10%;
}

input,
select,
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: brown;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}